body{
  background-color: #777777;
}
#header, #container, #footer{
  overflow: auto;
  margin:5px;
  background-color: white;
  box-shadow: 0px 5px 0px #888888;
}
#header > ul{
  float: right;
  list-style: none;

}
li{

  display: inline;
}

.div_menu{
  margin: 10px 20px 10px 20px;
  width: 150px;
  height: 40px;
  float: left;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  background-color: #aaeeaa;
  box-shadow: 5px 5px 8px #888888;
}

#container{
  text-align: center;
  1height: 750px;
}
.div_info > *{
  background-color: #FFFFFF;
}
.div_button > a{
  display: inline-block;
  cursor: pointer;
  background-color: #FFFFFF;
}
.div_button > a > .div_menu{

  width: 120px;
  height: 80px;
  line-height: 80px;
}
.div_map{

  padding: 25px;
}


#footer{
  text-align: center;
  color: gray;
  padding: 20px;
}
